<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Indicates that the server.js file is a node.js application 
    to be handled by the iisnode module -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <!-- Do not interfere with requests for node-inspector debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>
        
        <!-- Next.js static files -->
        <rule name="NextStatic" stopProcessing="true">
          <match url="_next/static/(.*)" />
          <action type="Rewrite" url=".next/static/{R:1}" />
        </rule>

        <!-- Static content in public folder -->
        <rule name="StaticContent" stopProcessing="true">
          <match url="^(?!api/)(.*[.](jpg|jpeg|gif|png|css|js|ico|svg|woff|woff2|json))$" />
          <action type="Rewrite" url="public/{R:1}" />
        </rule>

        <!-- All other queries are mapped to the node.js site entry point -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- 'bin' directory is protected by default, we need to allow access to it -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <!-- Make sure error responses are left untouched -->
    <httpErrors existingResponse="PassThrough" />
    
    <iisnode 
      node_env="production"
      nodeProcessCommandLine="&quot;C:\Program Files\nodejs\node.exe&quot;"
      debuggingEnabled="false"
      devErrorsEnabled="true"
      loggingEnabled="true"
      logDirectory="iisnode"
      watchedFiles="web.config;*.js"
    />
  </system.webServer>
</configuration>
